# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 56c2ddcd9314dc133f652df7664ac09c83849b2385383fafa465c10252d4caf8cb83518a67d81c24c45855dcc02681aa249af62a5bcf51669eb5ab86adf0dd74

test:
  secret_key_base: 545bf56799a9c312a45a60643aaac51f45b521ac7966c1811828022b51eb594c91320f958fd7d5a00299f4e5e2ddceab3d26571abb3bc933676d44336c9d17bd

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
