$blue_1: #00b1b1;
$white_smoke: #f8f8f8;
$deep_arctic_blue: #03b1ce;
$gray: #ccc;
$error_validate: #D8000C;
$deep_arctic_blue: #03b1ce;
$gray-medium-light: #eaeaea;
$gray: #f1f1f1;
$gray-medium-darker: #080808;
$border-color: #eaeaea;
$color: #90949c;
$color-menu: #00897b;
$color-shadow: #888888;
$color-green: #24b840;
$color-red: #dd2231;